*, *:before, *:after {
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
}

.total-block {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  justify-self: center;
  width: 1440px;
}

.out-1 {
  background: #aaaaaa;
  min-height: 100px;
  width: 700px;
  margin-bottom: 1%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.i-11 {
  margin: 0 10%;
  width: 700px;
  min-height: 50px;
  padding: 5px 15px;
}

.out-11 {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  background: #242424;
}

.keyboard {
  width: 48px;
  height: 48px;
  border: 1px solid black;
  margin: 15px;
  border-radius: 6px;
  line-height: 48px;
  text-align: center;
}

.active {
  box-shadow: 0px 0px 10px 1px #fff5c7;
  color: #fff5c7;
}

.hide {
  display: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.text-center {
  text-align: center;
}

h3 {
  margin: 15px 0;
}

h2 {
  margin: 30px 0;
  line-height: 130%;
  position: relative;
  z-index: 2;
}

h1 {
  margin-bottom: 40px;
}

/* ========================= */
.keyboard {
  border: 1px solid slategray;
  padding: 5px;
  border-radius: 4px;
  position: relative;
  width: 704px;
  height: auto;
}

.line::after {
  content: "";
  display: block;
  clear: both;
}

.key {
  float: left;
  width: 40px;
  height: 40px;
  border: 1px solid slategray;
  border-radius: 4px;
  margin: 3px;
  padding: 4px;
  text-align: center;
  line-height: 2;
  text-transform: uppercase;
  background: #676767;
}

.key:hover {
  color: #fff;
  background: slategray;
  cursor: pointer;
}

.backspace, .tab, .caps, .enter, .shift, .space, .ctrl, .ctrl-r, .fn, .alt, .w {
  font-size: 0.8em;
  line-height: 2.5;
}

.backspace {
  width: 88px;
}

.tab {
  width: 64px;
}

.caps, .enter {
  width: 87px;
}

.shift {
  width: 110px;
}

.ctrl {
  width: 64px;
}

.space {
  width: 224px;
}

.w {
  line-height: 3;
}

.window {
  width: 20px;
  height: 20px;
}
